<div class="container">
    <div class="col-md-8 offset-md-2">
      <form  name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div class="form-group" [hidden]="panier.id===undefined" >
          <label>id </label>
          <input type="text" class="form-control" id="id" name="id" [(ngModel)]="panier.id" formControlName="id" readonly>
        </div>
        
        <div class="form-group">
            <label>client </label>
            <mat-form-field appearance="fill" >
                <mat-label></mat-label>
                <mat-select class="form-control"  id="client" data-cy="client" name="client" formControlName="client">
               
                <mat-option *ngFor="let client of clients" [value]="client">{{client.nom}}</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
         
          <div class="form-group">
            <label>formation </label>
            <mat-form-field appearance="fill" >
                <mat-label></mat-label>
                <mat-select class="form-control" id="formation" data-cy="formation" name="formation" formControlName="formation">
                <mat-option *ngFor="let formation of formations" [value]="formation">{{formation.nom}}</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        
     
                
          
  
      
  
        <button class="btn btn-info m-3" type="submit"> Enregistrer </button>
      </form>
    </div>
</div>
