<div class="container com-sp pad-bot-70 pg-inn">
    <div class="col-md-2"></div> 
<div class="col-md-8">
    <div class="cor-mid-img">
        <img src="/assets/images/course.jpg" alt="">
    </div>
    <div class="cor-con-mid">
        <div class="cor-p1">
            <h2>{{matiere?.nom}}</h2>
            <span>Category: Software Testing</span>
           
        </div>
        <div class="cor-p4">
            <h3>Course Details:</h3>
          <p>
            {{matiere?.description}}

          </p>  
        </div>
        
    
        <review-list [idm]="id"></review-list>
        <review-update [idm]="id" ></review-update>
    </div>
</div>
</div>