
<div class="container">

    <mat-card class="m-4">
      <mat-card-title>Ajouter une nouvelle formation
      </mat-card-title>
     
    
      <form  name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div class="form-group" [hidden]="formation.id===undefined" >
          <label>id </label>
          <input type="text" class="form-control" id="id" name="id" [(ngModel)]="formation.id" formControlName="id" readonly>
        </div>
        
        <div class="form-group">
          <label>nom </label>
          <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="formation.nom" formControlName="nom">
        </div>

        <button class="btn btn-info m-3" type="submit"> Enregistrer </button>
      </form>

      

    </mat-card>

  </div>
  <app-formmatiereupdate [idf]="id"></app-formmatiereupdate>
  <app-formmatieredetail [idf]="id"></app-formmatieredetail>